.is-auto-x {
	overflow-x: auto;
}
.is-auto-y {
	overflow-y: auto;
}

.is-break-word {
	word-break: break-word;
}

.no-wrap {
	white-space: nowrap;
}

.pagination ul, .pagination ol {
	list-style: none;
}

/*
	Margin utility classes
*/
.mb-0 {
	margin-bottom: 0 !important;
}
.mt-0 {
	margin-top: 0 !important;
}
.ml-0 {
	margin-left: 0 !important;
}
.mr-0 {
	margin-right: 0 !important;
}
.mb-1 {
	margin-bottom: 0.5rem !important;
}
.mt-1 {
	margin-top: 0.5rem !important;
}
.ml-1 {
	margin-left: 0.5rem !important;
}
.mr-1 {
	margin-right: 0.5rem !important;
}
.mb-2 {
	margin-bottom: 1rem !important;
}
.mt-2 {
	margin-top: 1rem !important;
}
.ml-2 {
	margin-left: 1rem !important;
}
.mr-2 {
	margin-right: 1rem !important;
}

/*
	Padding utility classes
*/
.pb-0 {
	padding-bottom: 0 !important;
}
.pt-0 {
	padding-top: 0 !important;
}
.pl-0 {
	padding-left: 0 !important;
}
.pr-0 {
	padding-right: 0 !important;
}
.pb-1 {
	padding-bottom: 0.5rem !important;
}
.pt-1 {
	padding-top: 0.5rem !important;
}
.pl-1 {
	padding-left: 0.5rem !important;
}
.pr-1 {
	padding-right: 0.5rem !important;
}
.pb-2 {
	padding-bottom: 1rem !important;
}
.pt-2 {
	padding-top: 1rem !important;
}
.pl-2 {
	padding-left: 1rem !important;
}
.pr-2 {
	padding-right: 1rem !important;
}
.pb-6 {
	padding-bottom: 3rem !important;
}
.pt-6 {
	padding-top: 3rem !important;
}
.pl-6 {
	padding-left: 3rem !important;
}
.pr-6 {
	padding-right: 3rem !important;
}

/* Container Styles */
.container .is-devpad-content {
	max-width: 1000px;
	margin: auto;
}
.container .is-devpad-content-wide {
	max-width: 1250px;
	margin: auto;
}
.is-devpad-sidebar {
	width: 250px;
}